jinja2
genanki
diffusers
kokoro
soundfile
pydub
torch
accelerate
litellm
llama-cpp-python
ollama
google-genai
pytest
python-box
python-slugify
pillow
prefect
#apache-airflow[celery]==3.1.1 --constraint https://raw.githubusercontent.com/apache/airflow/constraints-3.1.1/constraints-3.12.txt